/* * {
    border: solid 1px lightgray; 
} */

#main_picture {
    position: relative;
    text-align: center;
  
  }

  #main_picture h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #main_picture p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-40%, -40%);
    color: white;
    flex-wrap: wrap;
  }

  header {
      display: flex;
      background-color: red;
      color: white;
      text-align: center;
      justify-content: space-around;
  }